@import url('https://ik.imagekit.io/Xenoids/code/style.css?updatedAt=1714914343286');

:root {
    --amount: rgb(90, 223, 145);
    --donator: rgb(234, 247, 52);
    --text: #ffffff;
}

.box-container {
    display: grid;
    grid-template-columns: 0fr 10fr;
    animation: breath 5s ease-out infinite normal;
    font-family: 'HyWenHei 85W', sans-serif;
    position: relative;
    max-width: 750px;
    margin: 150px auto !important;
    padding: 0px 30px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.box-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.BG-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top right; */
    object-position: 15% 10%;
    z-index: -1;
    border-radius: 15px;
}

.right{
    background-color: black;
}

.chara {
    position: absolute;
    /* top: -115px; */
    top : -60px;
    right: 155px;
    transform: translateX(60%);
    /* transform: translateY(25%); */
    /* margin-top: 5px; */
    display: flex;
    justify-content: center; 
    align-items: flex-start;

}

.chara img {
    max-width: 32%;
    border-radius: 200px;
    animation: rotate 0.8s ease-in-out infinite normal;
}

.text {
    position: relative;
    max-width: 750px;
    z-index: 3;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    line-height: 120%;
    overflow-wrap: break-word; 
    color: var(--text);
}

.amount {
    color: var(--amount);
}

.donator {
    color: var(--donator);
}

/* .text {
    line-height: 120%;
    overflow-wrap: break-word; 
    color: var(--text);
} */

/* ANIMATION PURPOSE */

@keyframes breath {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(1.5deg);
    }

    50%{
        transform: rotate(-1.5deg);
    }

    100%{
        transform: rotate(0deg);
    }
}